#myDIV {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
  }

